soapapi-version/src/main/resources/reservation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://hotel.com/reservation/soap"
           targetNamespace="http://hotel.com/reservation/soap" elementFormDefault="qualified">

    <xs:complexType name="client">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="telephone" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="chambre">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="prix" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reservation">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="client" type="tns:client"/>
            <xs:element name="chambre" type="tns:chambre"/>
            <xs:element name="dateDebut" type="xs:string"/>
            <xs:element name="dateFin" type="xs:string"/>
            <xs:element name="preferences" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getReservationByIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getReservationByIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllReservationsRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllReservationsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservations" type="tns:reservation" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="clientId" type="xs:long"/>
                <xs:element name="chambreId" type="xs:long"/>
                <xs:element name="dateDebut" type="xs:string"/>
                <xs:element name="dateFin" type="xs:string"/>
                <xs:element name="preferences" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="clientId" type="xs:long"/>
                <xs:element name="chambreId" type="xs:long"/>
                <xs:element name="dateDebut" type="xs:string"/>
                <xs:element name="dateFin" type="xs:string"/>
                <xs:element name="preferences" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservation" type="tns:reservation"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteReservationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteReservationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="success" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>